<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Media Cloud Discover</title> 		
		<link rel="stylesheet" href="/static/css/style.css"> 
		<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
		<link rel="shortcut icon" type="image/x-icon" href="/static/images/favicon.ico"/>

		<script>
			var dataFromServer = {{ data|tojson }};
		</script>

		<script src='/static/js/libs/three.min.js'></script>
		<script src="/static/js/libs/Detector.js"></script>
		<script src="/static/js/libs/Tween.min.js"></script>
		
		<script src="/static/js/libs/jquery-3.3.1.js"></script>
		<script src='/static/js/libs/jquery-ui.js'></script>

		<script src='/static/js/libs/perlin.js'></script>
		<script src="/static/js/libs/dat.gui.min.js"></script>
		<script src="/static/js/libs/Chart.bundle.js"></script>
		<script src='/static/js/libs/state-machine.js'></script>

		<script src="/static/js/sceneSubjects/GeneralLights.js"></script>
		<script src="/static/js/sceneSubjects/StarField.js"></script>
		<script src="/static/js/sceneSubjects/Picker.js"></script>
		<script src="/static/js/sceneSubjects/Sentences.js"></script>
		<script src="/static/js/sceneSubjects/WordTime.js"></script>
		<script src="/static/js/sceneSubjects/Globe.js"></script>
		<script src="/static/js/sceneSubjects/Landing.js"></script>
		<script src="/static/js/sceneSubjects/Thinking.js"></script>
	</head>

	<body>
		<div id="content">
			<div id="header">
				<span><img id="logo" src="/static/images/mediacloud-logo-white-2x.png"/>&nbsp;Discover:</span>
				<span class="styled-select white rounded">
					<select id="countries" name="countries">
					  	<option value="9139487" selected>United States</option>
					  	<option value="9319462">Denmark</option>
					  	<!-- 
							<option value="9351677">Pakistan</option>
							<option value="9353688">Mexico</option> 
						-->
					</select>
				</span>
				<span id="explorer_link" style="float: right;"></span>
			</div>

			<!-- Main THREE.js Canvas -->
			<canvas id="canvas" style="z-index: 10;"></canvas>

			<div id="globe-container"></div>

			<div id="metadata" style="display: none;">
				<h1>metadata:</h1>
			</div>
		
			<div id="sentence-container">
				<ul id="list"></ul>
			</div>
			
			<div><a href="#" id="back">Back</a></div>
			<div><a href="#" id="forward">Forward</a></div>
		</div>

		<script src="/static/js/MCContext.js"></script>
		<script src="/static/js/SceneManager.js"></script>    
		<script src="/static/js/main.js"></script>
	</body>
</html>