<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
		<title>Media Cloud Discover</title> 		
		<link rel="stylesheet" href="/static/css/style.css"> 
		<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
		<link rel="shortcut icon" type="image/x-icon" href="/static/images/favicon.ico"/>

		<script>
			var dataFromServer = {{ data|tojson }};
		</script>

		<script type="text/javascript" src='/static/js/libs/three.min.js'></script>
		<script type="text/javascript" src="/static/js/libs/Detector.js"></script>
		<script type="text/javascript" src="/static/js/libs/Tween.js"></script>
		<!-- <script type="text/javascript" src="/static/js/libs/Tween.min.js"></script> -->

		
		<script type="text/javascript" src="/static/js/libs/jquery-3.3.1.js" charset="utf-8"></script>
		<script type="text/javascript" src='/static/js/libs/jquery-ui.js' charset="utf-8"></script>

		<script type="text/javascript" src='/static/js/libs/perlin.js'></script>
		<script type="text/javascript" src="/static/js/libs/dat.gui.min.js"></script>
		<script type="text/javascript" src="/static/js/libs/Chart.bundle.js"></script>
		<script type="text/javascript" src='/static/js/libs/state-machine.js'></script>
		<script type="text/javascript" src='/static/js/libs/globe.js'></script>

		<script type="text/javascript" src="/static/js/sceneSubjects/GeneralLights.js" charset="utf-8"></script>
		<script type="text/javascript" src="/static/js/sceneSubjects/StarField.js" charset="utf-8"></script>
		<script type="text/javascript" src="/static/js/sceneSubjects/Picker.js" charset="utf-8"></script>
		<script type="text/javascript" src="/static/js/sceneSubjects/Sentences.js" charset="utf-8"></script>
		<script type="text/javascript" src="/static/js/sceneSubjects/WordTime.js" charset="utf-8"></script>
		<script type="text/javascript" src="/static/js/sceneSubjects/Globe.js" charset="utf-8"></script>
		<script type="text/javascript" src="/static/js/sceneSubjects/Landing.js" charset="utf-8"></script>
		<script type="text/javascript" src="/static/js/sceneSubjects/Thinking.js" charset="utf-8"></script>
	</head>

	<body>
		<div id="content">
			<div id="about_pane">
				<div id="about_close" style="float: right;"><img id="about_close_icon" src="/static/images/close.png"></div>
			</div>
			<div id="header">
				<span><img id="logo" src="/static/images/mediacloud-logo-white-2x.png"/>&nbsp;Discover:</span>
				<span class="styled-select white rounded">
					<select id="countries" name="countries">
					  	<option value="9139487" selected>United States</option>
					  	<option value="9319462">Denmark</option>
					  	<option value="38376339">Afghanistan</option>
					  	<option value="34412056">Japan</option>
					  	<option value="34412193" selected>China</option>
					  	<option value="34412118">India</option>
					  	<!-- 
							<option value="9351677">Pakistan</option>
							<option value="9353688">Mexico</option> 
						-->
					</select>
				</span>
				<span id="explorer_link" style="float: right;"></span>
				<span id="about">About</span>
			</div>

			<canvas id="chart"></canvas>

			<!-- Main THREE.js Canvas -->
			<canvas id="canvas" style="z-index: 10;"></canvas>
			<div id="canvas_text" style="z-index: 11;"></div>

			<div id="globe-container"></div>

			<div id="metadata" style="display: none;">

					<div id="md_close" style="float: right;"><img id="md_close_icon" src="/static/images/close.png"></div>
					<div id="md_header">
					</div>
					<div id="md_body">
					</div>
					<div id="md_footer">
						<a href="#" id="back">Back</a>
						<a href="#" id="forward">Forward</a>				
					</div>

			</div>
		
			<div id="sentence-container">
				<ul id="list"></ul>
			</div>

			<div id="landing"></div>
		</div>

		<script type="text/javascript" src="/static/js/MCContext.js" charset="utf-8"></script>
		<script type="text/javascript" src="/static/js/SceneManager.js" charset="utf-8"></script>    
		<script type="text/javascript" src="/static/js/main.js" charset="utf-8"></script>
	</body>
</html>