<h1>Media Cloud is an open-source platform for media analysis.</h1>
<br>
<br>

Media Cloud is an open source platform for studying media ecosystems.

By tracking millions of stories published online, our suite of tools allows researchers to track how stories and ideas spread through media.

Our tools are designed to aggregate, analyze, deliver and visualize information, answering complex quantitative and qualitative questions about the content of online media.

Collaborators
Past and present collaborators include NewsFrames, Morningside Analytics, Betaworks, Bit.ly, the Associated Press, and Global Voices.

Media Cloud is made possible by the generous support of the Ford Foundation, the Open Society Foundations, the John D. and Catherine T. MacArthur Foundation, Bill and Melinda Gates Foundation and the Robert Wood Johnson Foundation.

<br>
<br>
<a href="https://mediacloud.org" target="_window">Media Cloud</a>
<a href="https://twitter.com/media_cloud">@media_cloud</a> on Twitter

<a id="landing_explore" href="#">Explore!</a>